@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-md {
    margin: 100px;
}

.btn {
    width: 120px;
    padding: 16px;
}

.container-md .ct-header h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding-left: 15px;
}

.container-fluid {
    margin-top: 20px;
}

.navbar-nav {
    margin-left: 400px;
}

.container.main {
    margin-top: 80px;
}

.btn-info .btn-item {
    border: solid 1px blue;
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;   
    margin-top: 5px; 
    color: blue;
}

.info {
    display: flex;
}

span {
    margin-left: 10px;
}